*{
    margin: 0;
    padding: 0
}
@font-face {
    font-family: 'fuenteCocktail';
    src: url(/fuentes/Cocktail.ttf);
}
body {
    width: 100wv;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #1d000d;
}

header{

    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'fuenteCocktail';
    color: #9B8D9B;
}

h1{
    padding:10px;
    width: 65%;
    text-align: center;
    background-color: #46001f;
    border-radius: 20px;
    font-size:55px;
}

main{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #1d000d;
}

#search{

    width: 40%;
    height: 30px;
    margin: 2%;
    border-radius: 13px;
    padding: 8px;
    font-size: 19px;
}


#container-cocktail{
    margin-top:2%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.drinks{

    width: 30%;
    height: 290px;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 20px;
    text-align: center;
    color: #9B8D9B;
    margin-bottom: 3%;

}

.name{

    background-color: #950125;
    border-radius:20px 20px 0 0;
}
.name:hover{
    cursor: pointer;
    color: #C39D37;
}

.img{
    cursor: pointer;
    width: 100%;
    height: 95%;
    border-radius: 0 0 20px 20px;
}


